#main-wrapper {
  background-color: transparent;
}


#page-wrapper {
  background-color: #b2bb1c;
  background-image: url('../images/aitsl-background-repeat.png');
  background-repeat: repeat-x;
}

#page, #footer-wrapper .section {
  width: 1200px;
  margin: 0px auto;
}

#header, #main-wrapper {
  width: 900px;
  margin: 0px auto;
}

#page {
  background-image: url('../images/aitsl-background.png');
  background-color: #b2bb1c;
  background-repeat: no-repeat;
}

#footer-wrapper {
  padding: 0px;
  background-image: url('../images/footer-top.png');
  background-repeat: no-repeat;
  background-position: -50px 0px;
  background-attachment: fixed;
  min-height: 100px;
}

#footer-image {
  top: -25px;
  position: relative;
}


#header {
  background-color: transparent;
  background-image: none;
  padding-top: 35px;
}

h1, h2 {
  color: #b2bb1c;
}

.one-sidebar #content {
width: 540px;
}

#sidebar-first, #sidebar-second {
  width: 360px;
}

#sidebar-second {
  float: right;
}

#breadcrumb {
  height:0px;
  display:none;
}

.block ol, .block ul {
  padding: 0 0 0.25em 1.5em;
}


/********************************************************************
** Forms
*/

.form-textarea, .form-text, .grippie {
  background-color: #ffffff;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

/********************************************************************
** Blog List
*/
.blog-list-row {
  position: relative;
  float: left;
  clear: both;
  padding-bottom: 30px;
  width: 540px;
}

.blog-list-date {
  float: left;
  width: 50px;
  color: white;
  text-align: center;
  left: -40px;
  position: absolute;
}

.blog-list-day {
  background-image: url('../images/blog-list-day.png');
  background-repeat: no-repeat;
}

.blog-list-month {
  background-image: url('../images/blog-list-month.png');
  background-repeat: no-repeat;
  font-size: 0.8em;
  position:relative;
}

.blog-list-content {
  width:540px;
  position:relative;
  float:left;
}

.blog-list-header {
  background-image: url('../images/blog-list-header.png');
  background-color:#373737;
    color: white;
    position: relative;
    clear: both;
}
.blog-list-header, .blog-list-body, .blog-list-footer {
    padding: 8px;
}

.blog-list .left-side {
  position: relative;
  float: left;
  padding-right: 20px;
  margin: auto 0px;
}

.blog-list-title a{
  color: #b2bb1c;
}

.blog-list-author {
  font-size: 0.8em;
}

.blog-list-footer {
  background-color: #444444;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  color: white;
  position: relative;
  clear: both;
}

.blog-list-body {
    background-color: white;
    clear: both;
    float: left;
    position: relative;
    width:525px;
}
.blog-list-image {
    float: left;
    position: relative;
}

.blog-list-text {
    position: relative;
    float: left;
    width: 260px;
    margin-left: 10px;
}

.meta.submitted {
  color: #DEDEDE;
}

.pager {
  margin:0px;
  float:left;
}

.pager li a {
  color:white;
}

.pager-current {
  text-weight:bold;
}

/*********************************************************************
** Latest Blog Posts
*/

#sidebar-second .block, #sidebar-second .block a {
  background-color: transparent;
  border: 0px;
  color: white;
}

#sidebar-second .block li {
  padding-bottom: 5px;
}

.sidebar h2 {
  color: #b2bb1c;
  border-top: 1px dotted #ffffff;
  border-bottom: 1px dotted #ffffff;
  text-shadow: 0 0px 0 white;
  padding: 5px 0px;
}

